<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if todoitem_list and not user.is_anonymous %}
        <h1>Welcome {{user.last_name}} {{user.first_name}}</h1>
        <ul>
            {% for todoitem in todoitem_list %}
                <li>
                    <a href="{{todoitem.id}}/">{{ todoitem.task_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% elif todoitem_list.count == 0 and user %}
        <p>No Tasks have been created.</p>
    {% else %}
        <h1>You are not authorized to access this page.</h1>
        <p>Kindly login <a href="login/">here</a></p>
    {%endif %}
</body>
</html>